[AI]
# model
#	Purpose:	Model to be used.
#	Validity:	N/A
#	Default:	N/A
model = gpt-4o-mini

# api_key
#	Purpose:	API Key
#	Validity:	any model
#	Default:	N/A
api_key = sk-...

# context
#	Purpose:	Describe behavior of the bot.
#	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
#	Default:	You are helpful and friendly assistant.
context = You are helpful and friendly assistant.

# history
#	Purpose:	Set number of previous questions/answers to be kept.
#	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
#	Default:	0
history = 0

# use_nick
# 	Purpose:	While responding, address user with their nick.
# 	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
# 	Default:	false
use_nick = false

# temperature
#	Purpose:	Defines how random each subsequent word in the chat output is.
#	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
#	Default:	0.5
temperature = 0.5

# top_p
#	Purpose:	An alternative to sampling with temperature, where the model considers the results of the tokens with top_p probability mass.
#	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
#	Default:	1 (meaning 100%)
top_p = 1

# max_tokens
#	Purpose:	The maximum number of tokens to generate in the response.
#	Validity:	Claude/ChatCompletion, ChatGPT/ChatCompletion
#	Default:	1000
max_tokens = 1000

# frequency_penalty
#	Purpose:	Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.
#	Validity:	ChatGPT/ChatCompletion
#	Default:	0
frequency_penalty = 0

# presence_penalty
#	Purpose:	Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.
#	Validity:	ChatGPT/ChatCompletion
#	Default:	0
presence_penalty = 0

# request_timeout
#	Purpose:	Timeout processing request by API. (OBSOLETE)
#	Validity:	ChatGPT/ChatCompletion
#	Default:	60
request_timeout = 60


[IRC]
# debug
#	Purpose:	Display some limited debugging messages
#	Validity:	N/A
#	Default:	false
debug = false

# accept_invites
#	Purpose:	Accept invitation to join non-permanent channel.
#	Validity:	N/A
#	Default:	false
accept_invites = false

# rejoin_invited
#	Purpose:	Allow to re-join non-permanent channel to which bot was invited.
#	Validity:	N/A
#	Default:	false
rejoin_invited = false

# server
#	Purpose:	Table of servers.
#					name - name or IP address of the server
#					port - port of the server (default: 6667)
#					tls - use SSL/TLS (default: false)
#					password - user's password (default: BLANK)
#					ident - user's ident
#					realname - user's real name (default: BLANK)
#					nickname - user's nick name
#					sasl_mechanism - only PLAIN supported (default: PLAIN) (***WIP***)
#					sasl_username - SASL username (default: BLANK) (***WIP***)
#					sasl_password - SASL password (default: BLANK) (***WIP***)
server[0].name = tngnet.ircnet.io
server[0].port = 6679
server[0].tls = true
server[0].password = 
server[0].ident = SampleBot
server[0].realname = Sample Bot
server[0].nickname = SampleBot
server[0].sasl_mechanism = 
server[0].sasl_username = 
server[0].sasl_password = 
#
server[1].name = irc.nlnog.net
server[1].port = 6667
server[1].tls = false
server[1].password = 
server[1].ident = SampleBot
server[1].realname = Sample Bot
server[1].nickname = SampleBot
server[1].sasl_mechanism = PLAIN
server[1].sasl_username = user
server[1].sasl_password = password

# channel[]
#	Purpose:	Table of permanent channels.
#					name -  channel name, supported only standard (#NAME) channels (default: BLANK)
#					context - behavior of the bot (default: GLOBAL context)
#					history - number of question/answer pairs to keep in history (default: GLOBAL history)
#					use_nick - while responding, address user with their nick (default: GLOBAL use_nick)
channel[0].name = #oiram
channel[0].context = You understand many languages, but you only reply in Polish.
channel[0].history = 10
channel[0].use_nick = true
#
channel[1].name = #oiram1
